@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer
@model MvcMovie.Models.Views.MovieViewModel

@{
    ViewData["Title"] = Localizer["DetailsTitle"];
    ViewData["Back"] = Localizer["Back"];
    ViewData["Comments"] = Localizer["Comments"];
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-4">
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>
        <dt>@Html.DisplayNameFor(model => model.ReleaseDate)</dt>
        <dd>@Html.DisplayFor(model => model.ReleaseDate)</dd>
        <dt>@Html.DisplayNameFor(model => model.Genre)</dt>
        <dd>@Html.DisplayFor(model => model.Genre)</dd>
        <dt>@Html.DisplayNameFor(model => model.Price)</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>
        <dt>@Html.DisplayNameFor(model => model.Rating)</dt>
        <dd>@Html.DisplayFor(model => model.Rating)</dd>
    </dl>
</div>

<h3>@ViewData["Comments"]</h3>

<ul>
@foreach (var item in Model.Comments) {
    <div class="col-md-4"><li>@Html.DisplayFor(model => item.Text)</li></div>
}
</ul>

<div class="col-md-4"><a asp-action="Comment" asp-route-id="@Model.Id" class="btn btn-primary">Comment</a></div>
<div class="row"><a asp-action="Index">@ViewData["Back"]</a></div>
