@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer
@model MvcMovie.Models.Views.MovieViewModel

@{
    ViewData["Title"] = Localizer["DetailsTitle"];
    ViewData["Back"] = Localizer["Back"];
    ViewData["Comments"] = Localizer["Comments"];
    ViewData["SendComment"] = Localizer["SendComment"];
    ViewData["SendAComment"] = Localizer["SendAComment"];
    ViewData["TypeComment"] = Localizer["TypeComment"];
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-4">
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>
        <dt>@Html.DisplayNameFor(model => model.ReleaseDate)</dt>
        <dd>@Html.DisplayFor(model => model.ReleaseDate)</dd>
        <dt>@Html.DisplayNameFor(model => model.Genre)</dt>
        <dd>@Html.DisplayFor(model => model.Genre)</dd>
        <dt>@Html.DisplayNameFor(model => model.Price)</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>
        <dt>@Html.DisplayNameFor(model => model.Rating)</dt>
        <dd>@Html.DisplayFor(model => model.Rating)</dd>
    </dl>
</div>

<h3>@ViewData["Comments"]</h3>

<ul id="comments">
@foreach (var item in Model.Comments) {
    <li>@Html.DisplayFor(model => item.Text)</li>
}
</ul>

<input type="hidden" asp-for="Id" id="movie-id" />

<div asp-validation-summary="All"></div>
<div class='form-group'>
    <label class="col-md-2">@ViewData["SendAComment"]</label>
    <div class="col-md-4">
        <textarea id="comment-text">@ViewData["TypeComment"]</textarea>
    </div>
</div>
<div class='form-group'>
    <button class="btn btn-secondary" id="btn-comment">@ViewData["SendComment"]</button>
</div>

<div class="row"><a asp-action="Index">@ViewData["Back"]</a></div>
