@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer
@model MvcMovie.Models.Views.MovieViewModel

@{
    ViewData["Title"] = Localizer["DetailsTitle"];
    ViewData["Back"] = Localizer["Back"];
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-4">
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>
        <dt>@Html.DisplayNameFor(model => model.ReleaseDate)</dt>
        <dd>@Html.DisplayFor(model => model.ReleaseDate)</dd>
        <dt>@Html.DisplayNameFor(model => model.Genre)</dt>
        <dd>@Html.DisplayFor(model => model.Genre)</dd>
        <dt>@Html.DisplayNameFor(model => model.Price)</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>
    </dl>
</div>
<a asp-action="Index">@ViewData["Back"]</a>
